<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.mapper.ContentMapper">
	<select id="getContentList" resultType="com.alpha.vo.ContentVO">
		select * from content
	</select>

	<insert id="insertContent">
	insert into content(c_no, c_name, c_level, c_able, c_price, c_content)  values 
	(#{c_no},#{c_name},#{c_level},#{c_able},#{c_price},#{c_content} )
	</insert>
	
	<select id="getContentOne" resultType="com.alpha.vo.ContentVO">
		select * from content where c_no=#{c_no}
	</select>
	
	<update id="updateContent">
		update content set c_name=#{c_name}, c_level=#{c_level}, 
		c_able=#{c_able}, c_price=#{c_price}, c_content=#{c_content}
		where c_no=#{c_no}
	</update>
	
	<delete id="deleteContent">
		delete from content where c_no=#{c_no}
	</delete>
	
	<delete id="deleteCart">
		delete from cart where cr_m_no=#{cr_m_no} and cr_c_no=#{cr_c_no} and cnt=#{cnt}
	</delete>
	
	<select id="salesContent" resultType="com.alpha.vo.SalesVO">
    	    select sub_c_no, count(*) s_count, ROUND(SUM(sub_price),0) s_sales, c_name, if(c_level='1','초급', if(c_level='2','중급','고급')) level  from subscribe s
			left join (select * from content) c on sub_c_no = c_no 
			<if test="c_level!=0">
			where c_level = #{c_level}
			</if>
			<if test="c_level==0">
			group by c_level
			</if>
	</select>
	
	<select id="salesLevel" resultType="com.alpha.vo.SalesVO">
            	    select sum(sub_price) s_sales, sub_c_no, c_name, count(*) s_count from subscribe s
			left join (select * from content) c on sub_c_no = c_no 

			where c_level = #{c_level} group by sub_c_no order by s_sales desc
	</select>
	
	<select id="cartCnt" resultType="int">
	 	select count(*) from cart cr_m_no=#{cr_m_no} 
	</select>
	
	<select id="salesDate" resultType="com.alpha.vo.SalesVO">
    	SELECT date_range.date_range AS s_date, 
       IFNULL(COUNT(subscribe.sub_date), 0) AS s_count, 
       IFNULL(ROUND(SUM(subscribe.sub_price), 0), 0) AS s_sales
		FROM (
		    SELECT DATE_ADD(#{startdate}, INTERVAL n DAY) AS date_range
		    FROM (
		        SELECT a.N + b.N * 10 + c.N * 100 AS n
		        FROM (
		            SELECT 0 AS N
		            UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4
		            UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8
		            UNION ALL SELECT 9
		        ) AS a
		        CROSS JOIN (
		            SELECT 0 AS N
		            UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4
		            UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8
		            UNION ALL SELECT 9
		        ) AS b
		        CROSS JOIN (
		            SELECT 0 AS N
		            UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4
		            UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8
		            UNION ALL SELECT 9
		        ) AS c
		    ) AS numbers
		    WHERE DATE_ADD(#{startdate}, INTERVAL n DAY) BETWEEN #{startdate} AND #{enddate}
		) AS date_range
		LEFT JOIN subscribe ON DATE(date_range.date_range) = DATE(subscribe.sub_date)
		GROUP BY date_range.date_range
 
	</select>
	
	<insert id="addCart">
      insert into cart(cr_no, cr_m_no, cr_c_no, cnt)  values (#{cr_no}, #{cr_m_no}, #{cr_c_no},#{cnt}) 
	</insert>
	
	<select id="getCartList" resultType="com.alpha.vo.CartVO">
		select * from cart WHERE cr_c_no=#{cr_c_no} 
	</select>
	
	<select id="getMyCart" resultType="com.alpha.vo.CartVO">
	  select 
	  <![CDATA[
	  CONCAT(if(cnt-30<=0,0,cnt-30),'%') c_discountrate,
	   c_no, c_name, cnt, if(c_level=1,'초급', if(c_level=2,'중급', '고급')) c_level, (c_price*cnt/10) c_price,  c_price*(cnt/10)*(1-(if(cnt-30<=0,0,cnt-30)/100)) c_sellprice 
	   	]]>
	   from cart c
      left join (select * from content) s
      on c.cr_c_no=s.c_no WHERE cr_m_no=#{cr_m_no}
	</select>
	
	<select id="selectCart" resultType="com.alpha.vo.CartVO">
	     select c_no, c_name, c_level, cnt from content a left outer join (select * from cart) b on a.c_no = b.cr_c_no
	</select>
	
	<select id="addCartListCnt" resultType="int">
	    SELECT count(*) FROM cart WHERE (cr_m_no, cr_c_no) IN (SELECT cr_m_no, cr_c_no FROM cart where cr_m_no=#{cr_m_no} and cr_c_no=#{cr_c_no} and cnt=#{cnt})
	</select>
	
	

</mapper>