<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.mapper.ContentMapper">
	<select id="getContentList" resultType="com.alpha.vo.ContentVO">
		select * from content
	</select>

	<insert id="insertContent">
	insert into content values 
	(#{c_name},#{c_level},#{c_able},#{c_price},#{c_discount},#{c_sellprice},#{c_content} )
	</insert>
	
	<select id="getContentOne" resultType="com.alpha.vo.ContentVO">
		select * from content where c_no=#{c_no}
	</select>
	
	<update id="updateContent">
		update content set c_name=#{c_name}, c_level=#{c_level}, 
		c_able=#{c_able}, c_price=#{c_price}, c_discount=#{c_discount}, 
		c_sellprice=#{c_sellprice}, c_content=#{c_content}
		where c_no=#{c_no}
	</update>
	
	<delete id="deleteContent">
		delete from content where c_no=#{c_no}
	</delete>
	
</mapper>