<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.mapper.NoticeMapper">

	<select id="getNoticeList" resultType="com.alpha.vo.NoticeVO">
		SELECT N_NO, N_M_ID, N_TITLE, N_CONTENT, DATE_FORMAT(N_REGDATE, '%Y-%m-%d') AS N_REGDATE
		FROM notice 
		<include refid="criteria"></include>		
		ORDER BY N_NO DESC LIMIT #{startNo}, #{endNo}
	</select>
	
	<select id="getTotalCnt" resultType="int">
		SELECT COUNT(*) FROM notice
		<include refid="criteria"></include>
	</select>
	
	<select id="getNoticeOne" resultType="com.alpha.vo.NoticeVO">
		select * from notice where n_no=#{n_no}
	</select>
	
	<insert id="insertNotice">
		INSERT INTO notice (N_NO, N_M_ID, N_TITLE, N_CONTENT, N_REGDATE)
		VALUES (#{n_no}, #{n_m_id}, #{n_title}, #{n_content}, now())
	</insert>
	
	<update id="editNotice">
		UPDATE notice SET N_TITLE = #{n_title}, N_CONTENT = #{n_content}
		WHERE N_NO = #{n_no}
	</update>
	
	<delete id="deleteNotice">
		DELETE FROM notice WHERE N_NO = #{n_no}
	</delete>

	<sql id="criteria">
		<choose>
			<when test="searchField == 'n_title'">
				where n_title like CONCAT('%', #{searchWord}, '%')
			</when>
			<when test="searchField == 'n_content'">
				where n_content like CONCAT('%', #{searchWord}, '%')
			</when>
			<when test="searchField == 'n_m_id'">
				where n_m_id like CONCAT('%', #{searchWord}, '%')
			</when>
		</choose>
	</sql>


</mapper>