<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.mapper.QnAMapper">

	<select id="getQList" resultType="com.alpha.vo.QnAVO">
		SELECT Q_NO, Q_M_ID, Q_TITLE, Q_CONTENT, DATE_FORMAT(Q_REGDATE, '%Y-%m-%d') AS Q_REGDATE, Q_ANSWERYN, Q_SECRET 
		FROM question 
		<include refid="criteria"></include>		
		ORDER BY Q_NO DESC LIMIT #{startNo}, #{endNo}
	</select>
	
	<select id="getQTotalCnt" resultType="int">
		SELECT COUNT(*) FROM question 
		<include refid="criteria"></include>
	</select>
	
	<select id="getQOne" resultType="com.alpha.vo.QnAVO">
		select * from question where q_no=#{q_no}
	</select>
	
	<insert id="insertQ">
		INSERT INTO question (Q_NO, Q_M_ID, Q_TITLE, Q_CONTENT, Q_REGDATE, Q_SECRET)
		VALUES (#{q_no}, #{q_m_id}, #{q_title}, #{q_content}, now(), #{q_secret})
	</insert>
	
 	
	<update id="editQ">
		UPDATE question SET Q_TITLE = #{q_title}, Q_CONTENT = #{q_content}, Q_SECRET = #{q_secret}
		WHERE Q_NO = #{q_no}
	</update>


	<delete id="deleteQ">
		DELETE FROM question WHERE Q_NO = #{q_no}
	</delete>
	
	<update id="updateAnswerYN">
		UPDATE question SET Q_ANSWERYN = 'Y'
		WHERE Q_NO = #{q_no}
	</update>
	
	<select id="getAList" resultType="com.alpha.vo.QnAVO">
		SELECT A_NO, A_M_ID, A_Q_NO, A_CONTENT, DATE_FORMAT(A_REGDATE, '%Y-%m-%d') AS A_REGDATE 
		FROM answer 
		WHERE A_Q_NO = #{q_no}
		ORDER BY A_NO
	</select>

	<sql id="criteria">
		<choose>
			<when test="searchField == 'q_title'">
				where q_title like CONCAT('%', #{searchWord}, '%')
			</when>
			<when test="searchField == 'q_m_id'">
				where q_m_id like CONCAT('%', #{searchWord}, '%')
			</when>
		</choose>
	</sql>
	
	
	<insert id="insertA">
		INSERT INTO answer (A_NO, A_M_ID, A_Q_NO, A_TITLE, A_CONTENT, A_REGDATE)
		VALUES (#{a_no}, #{a_m_id}, #{q_no}, #{a_title}, #{a_content}, now())
	</insert>
	
	<update id="editA">
		UPDATE answer SET A_CONTENT = #{a_content}
		WHERE A_NO = #{a_no}
	</update>

	<delete id="deleteA">
		DELETE FROM answer WHERE A_NO = #{a_no}
	</delete>
</mapper>