<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.mapper.TeacherMapper">

<!-- 콘텐츠  -->
	<!-- 조회  -->
<select id="getContentList" resultType="com.alpha.vo.ContentVO">
	select c.*, savepath from content c
	left join
	( select c_no, concat(uploadpath,c_no,filename) savepath from c_img) i
	on c.c_no = i.c_no
	where savepath is not null
    <where>
        <choose>
            <when test="searchField == 'c_name'">
                AND c_name LIKE CONCAT('%', #{searchWord}, '%')
            </when>
        </choose>
        <choose>
             <when test="c_level == 1">
                 AND c_level = 1
            </when>
            <when test="c_level == 2">
                 AND c_level = 2
            </when>
            <when test="c_level == 3">
                 AND c_level = 3
            </when>
        </choose>
       
        <choose>

            <when test="order == 'price1'">
                ORDER BY c_price DESC
            </when>
            <when test="order == 'price2'">
                ORDER BY c_price ASC
            </when>
            <when test="order == 'level1'">
                ORDER BY c_level DESC
            </when>
            <when test="order == 'level2'">
                ORDER BY c_level ASC
            </when>
        </choose>
    </where>
        ORDER BY c_no DESC
    LIMIT #{startNo}, #{amount}
</select>

	<!-- 메인 조회  -->
	<select id="getMainContentList" resultType="com.alpha.vo.ContentVO">
    			SELECT *
			FROM content c
            left join
		  ( select c_no, concat(uploadpath,c_no,filename) savepath from c_img) i
       on c.c_no = i.c_no
       ORDER BY c.c_no DESC 
		LIMIT 0, 4
	</select>
	
	<!-- 콘텐츠 총 갯수 -->
	<select id="totalCnt" resultType="int">
	select count(*) from content
	<include refid="criteria"></include>	
	</select>	
	
	<!-- c_id로 콘텐츠 상세 내용 가져오기 -->
	<select id="getContentDetail" resultType="com.alpha.vo.ContentVO">
	 <![CDATA[
	select s.c_no, s.c_able, c_name, c_level, if(s.c_able-30<=0,0,s.c_able-30) c_discount, (c_price*s.c_able/10) c_price, c_price*(s.c_able/10)*(1-(if(s.c_able-30<=0,0,s.c_able-30)/100)) c_sellprice,(1-(if(s.c_able-30<=0,0,s.c_able-30)/100)), savepath from content c
	]]>
	left join 
	(select
   c_no, SUBSTRING_INDEX (SUBSTRING_INDEX(content.c_able,',',numbers.n),',',-1) c_able
	from 
   (select  1 n union  all  select 2  
    union  all  select  3  union  all select 4 
    union  all  select  5  union  all  select  6
    union  all  select  7  union  all  select  8 
    union  all  select  9 union  all  select  10) numbers INNER  JOIN content
    on CHAR_LENGTH ( content.c_able ) 
      - CHAR_LENGTH ( 
      REPLACE ( content.c_able ,  ',' ,  '' ))>= numbers . n-1) s
      on c.c_no=s.c_no 
      left join
	( select c_no, concat(uploadpath,c_no,filename) savepath from c_img) i
	on c.c_no = i.c_no where s.c_no=#{c_no} order by s.c_able
	</select>
	
	<!-- 결제 시 구독내역에 인서트 -->
	<insert id="insertPayAction">
   	INSERT INTO subscribe (SUB_NO, SUB_C_NO, T_M_ID, SUB_DATE, SUB_PRICE, SUB_ABLE, SUB_CONNECTION, SUB_MONTH)
	VALUES (#{sub_no}, #{sub_c_no}, #{t_m_id}, #{sub_date}, #{sub_price}, #{sub_able}, (#{sub_month}/3), #{sub_month})
   </insert>
	
<select id="mySubList" resultType="com.alpha.vo.SubscribeVO">
	SELECT s.*, c.c_name
	FROM subscribe s
	JOIN content c ON s.sub_c_no = c.c_no
	WHERE s.t_m_id = #{t_m_id}
  <choose>
    <when test="cri.searchField == 'content.c_name'">
     and sub_c_no in (select c_no from content where c_name like CONCAT('%', #{cri.searchWord}, '%'))
    </when>
    <when test="cri.searchField == 'sub_date'">
      AND s.sub_date BETWEEN #{cri.searchDate1} AND #{cri.searchDate2}
    </when>
  </choose>
  ORDER BY s.SUB_DATE
  LIMIT #{cri.startNo}, #{cri.amount}
</select>
		
	<!-- 취소 시 환불&구독내역에서 삭제 -->
	<delete id="cancelPay">
		delete from subscribe where sub_no=#{sub_no}
	</delete>
	
	<!-- 그룹  -->
	<!-- t_m_id로  가져오기 -->
	<select id="getmyGroupList" resultType="com.alpha.vo.GrpVO">
	select * from grp where t_m_id = #{t_m_id}
	 <choose>
		<when test="cri.searchField == 'g_no'">
			and g_no like CONCAT('%', #{cri.searchWord}, '%')
		</when>
		<when test="cri.searchField == 'g_name'">
			and g_name like CONCAT('%', #{cri.searchWord}, '%')
		</when>
	</choose>	
	ORDER BY G_NO DESC LIMIT #{cri.startNo}, #{cri.amount}
	</select>
	
	<!-- 그룹 등록  -->
	<insert id="insertGroups">
	INSERT INTO grp (g_no, sub_no, t_m_id, g_name, g_cnt, g_start, g_end) VALUES
    (#{g_no}, #{sub_no},#{t_m_id}, #{g_name}, 0,
    STR_TO_DATE(#{g_start}, '%Y-%m-%d'),
    DATE_ADD(STR_TO_DATE(#{g_start}, '%Y-%m-%d'), INTERVAL 90 DAY))
	</insert>
	
	<!-- 해당 구독 정보 가져오기 / sub_id-->
	<select id="getSubOne"  resultType="com.alpha.vo.SubscribeVO">
	select s.* , c_level, c_no, c_name
	from subscribe s, content 
	where s.sub_c_no = content.c_no
	and sub_no = #{sub_no}
	</select>
	
	<!-- 해당 그룹 정보 가져오기 / g_no-->
	<select id="getGroupOne"  resultType="com.alpha.vo.GrpVO">
	select g.*, member.m_name, content.c_name, content.c_level
	from grp g, subscribe, member, content
	where g.sub_no = subscribe.sub_no
	and subscribe.sub_c_no = content.c_no
	and g.t_m_id = member.m_id
	and g_no = #{g_no}
	</select>
	
	<!-- 해당 그룹의 학습자 정보 가져오기 / g_no -->
	<select id="getGroupLearner" resultType="com.alpha.vo.LearnerVO">
	SELECT l.*, member.m_name 
	FROM learner l, grp, member
	where grp.g_no = l.l_g_no
	and l.l_m_id = member.m_id
	and grp.g_no = #{g_no}
    and l_checkyn = 'Y'
	ORDER BY m_name DESC LIMIT #{cri.startNo}, #{cri.amount}
	</select>
	
	<!-- c_id로 콘텐츠 상세 내용 갯수-->
	<select id="getContentCnt" resultType="int">
	select count(*) from content c
	left join 
	(select
	   c_no, SUBSTRING_INDEX (SUBSTRING_INDEX(content.c_able,',',numbers.n),',',-1) c_able
		from 
	   (select  1 n union  all  select 2  
	    union  all  select  3  union  all select 4 
	    union  all  select  5  union  all  select  6
	    union  all  select  7  union  all  select  8 
	    union  all  select  9 union  all  select  10) numbers INNER  JOIN content
	    on CHAR_LENGTH ( content.c_able ) 
      - CHAR_LENGTH ( 
      REPLACE ( content.c_able ,  ',' ,  '' ))>= numbers . n-1) s
      on c.c_no=s.c_no where s.c_no=#{c_no}
	</select>
	
	<!-- 그룹에서 멤버 내보내기 -->
	<delete id="deleteGroupLearner">
		delete from learner where l_no=#{l_no}
	</delete>
	
	<!-- 해당 그룹 신청자 정보 가져오기 / g_no -->
	<select id="JoinGroupLearner" resultType="com.alpha.vo.LearnerVO">
	SELECT l.*, member.m_name 
	FROM learner l, grp, member
	where grp.g_no = l.l_g_no
	and l.l_m_id = member.m_id
	and grp.g_no = #{g_no}
    and l_checkyn = 'N'
    ORDER BY m_name DESC LIMIT #{cri.startNo}, #{cri.amount}
	</select>
	
	<update id="updateGroupLearner">
	update learner 
    left join grp on l_g_no = g_no
    set l_checkyn = 'Y' , g_cnt=g_cnt+1
	where l_no=#{l_no}
	</update>
	
	<!-- 나의 구독내역 리스트 / 그룹이 연결되지 않음 -->
	<select id="subContent" resultType="com.alpha.vo.SubscribeVO">
	select s.* , c_name
	from subscribe s, content 
	where s.sub_c_no = content.c_no
    and t_m_id = #{t_m_id}
   	AND sub_connection > 0
	</select>
	
	<update id="insertGroupupdatesub">
	update subscribe set sub_connection=#{sub_connection}
	where sub_no=#{sub_no}
	</update>
	
	<!-- 구독 총 갯수 -->
	<select id="totalCntSub" resultType="int">
	select count(*) from subscribe
	where t_m_id = #{t_m_id}
	  <choose>
	    <when test="cri.searchField == 'content.c_name'">
	     and sub_c_no in (select c_no from content where c_name like CONCAT('%', #{cri.searchWord}, '%'))
	    </when>
	    <when test="cri.searchField == 'sub_date'">
	      AND sub_date BETWEEN #{cri.searchDate1} AND #{cri.searchDate2}
	    </when>
	  </choose>
	</select>	
	
	<!-- 그룹 총 갯수 -->
	<select id="totalCntGrp" resultType="int">
	select count(*) from grp
	where t_m_id = #{t_m_id}
	<choose>
		<when test="cri.searchField == 'g_no'">
			and g_no like CONCAT('%', #{cri.searchWord}, '%')
		</when>
		<when test="cri.searchField == 'g_name'">
			and g_name like CONCAT('%', #{cri.searchWord}, '%')
		</when>
	</choose>
	</select>	
	
	<!-- 그룹 학습자 총 인원 -->
	<select id="totalCntLearner" resultType="int">
	select count(*) from learner
	where l_g_no = #{g_no}
    and l_checkyn = 'Y'
	</select>	
	
	<!-- 신청자 총 인원 -->
	<select id="totalCntJoin" resultType="int">
	select count(*) from learner
	where l_g_no = #{g_no}
    and l_checkyn = 'N'
	</select>	
	
	<!-- t_m_id와  sub_no으로 가져오기 -->
	<select id="conGroupList" resultType="com.alpha.vo.GrpVO">
	select  grp.g_no, grp.g_name, grp.g_start , grp.g_end, sub_able, grp.g_cnt
	from grp, subscribe
	where grp.sub_no=subscribe.sub_no
	and grp.sub_no = #{sub_no}
	</select>
	
	<update id="updateGrpName">
	update grp set g_name=#{g_name}
	where g_no=#{g_no}
	</update>
	
	
	
	<sql id="criteria">
	<choose>
		<when test="searchField == 'c_name'">
			and c_name like CONCAT('%', #{searchWord}, '%')
		</when>
		<when test="searchField == 'c_level'">
			and c_level like CONCAT('%',          
		 	CASE 
	           WHEN #{searchWord} = '초급' THEN 1 
	           WHEN #{searchWord} = '중급' THEN 2 
	           ELSE 3
        	 END
       		  , '%')
		</when>
		<when test="searchField == 'c_name'">
			and c_name like CONCAT('%', #{searchWord}, '%')
		</when>
	</choose>
	</sql>

</mapper>