<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.mapper.TeacherMapper">

<!-- 콘텐츠  -->
	<!-- 조회  -->
	<select id="getContentList" resultType="com.alpha.vo.ContentVO">
			SELECT *
			FROM content
			ORDER BY c_no DESC
			LIMIT #{amount} OFFSET #{startNo}
	</select>
	
	<!-- 콘텐츠 총 갯수 -->
	<select id="totalCnt" resultType="int">
	select count(*) from content
	</select>	
	
	<!-- c_id로 콘텐츠 상세 내용 가져오기 -->
	<select id="getContentDetail" resultType="com.alpha.vo.ContentVO">
	 <![CDATA[
	select s.c_no, s.c_able, c_name, c_level, if(s.c_able-30<=0,0,s.c_able-30) c_discount, (c_price*s.c_able/10) c_price, c_price*(s.c_able/10)*(1-(if(s.c_able-30<=0,0,s.c_able-30)/100)) c_sellprice,(1-(if(s.c_able-30<=0,0,s.c_able-30)/100)) from content c
	]]>
	left join 
	(select
   c_no, SUBSTRING_INDEX (SUBSTRING_INDEX(content.c_able,',',numbers.n),',',-1) c_able
	from 
   (select  1 n union  all  select 2  
    union  all  select  3  union  all select 4 
    union  all  select  5  union  all  select  6
    union  all  select  7  union  all  select  8 
    union  all  select  9 union  all  select  10) numbers INNER  JOIN content
    on CHAR_LENGTH ( content.c_able ) 
      - CHAR_LENGTH ( 
      REPLACE ( content.c_able ,  ',' ,  '' ))>= numbers . n-1) s
      on c.c_no=s.c_no where s.c_no=#{c_no} order by s.c_able
	</select>
	
	<!-- 결제 시 구독내역에 인서트 -->
	<insert id="insertPayAction">
   	INSERT INTO subscribe (SUB_NO, SUB_C_NO, T_M_ID, SUB_DATE, SUB_PRICE, SUB_ABLE, SUB_CONNECTION)
	VALUES (#{sub_no}, #{sub_c_no}, #{t_m_id}, #{sub_date}, #{sub_price}, #{sub_able}, #{sub_connection})
   </insert>
	
	<!-- 나의 구독내역 리스트 -->
	<select id="mySubList" resultType="com.alpha.vo.SubscribeVO">
	select s.* , c_name
	from subscribe s, content 
	where s.sub_c_no = content.c_no
    and t_m_id = #{t_m_id}
	</select>
		
	<!-- 취소 시 환불&구독내역에서 삭제 -->
	<delete id="cancelPay">
		delete from subscribe where sub_no=#{sub_no}
	</delete>
	
<!-- 그룹  -->
	<!-- t_m_id로  가져오기 -->
	<select id="getmyGroupList" resultType="com.alpha.vo.GrpVO">
	select * from grp where t_m_id = #{t_m_id}
	</select>
	
	<!-- 그룹 등록  -->
	<insert id="insertGroups">
	INSERT INTO grp (t_m_id, g_name, g_cnt, g_start, g_end) VALUES
    (#{t_m_id}, #{g_name}, #{g_cnt},
    STR_TO_DATE(#{g_start}, '%Y-%m-%d'),
    DATE_ADD(STR_TO_DATE(#{g_start}, '%Y-%m-%d'), INTERVAL 90 DAY));
	</insert>
	
	<!-- 해당 구독 정보 가져오기 / sub_id-->
	<select id="getSubOne"  resultType="com.alpha.vo.SubscribeVO">
	select s.* , c_level, c_no, c_name
	from subscribe s, content 
	where s.sub_c_no = content.c_no
	and sub_no = #{sub_id}
	</select>
	
	<!-- 해당 그룹 정보 가져오기 / g_no-->
	<select id="getGroupOne"  resultType="com.alpha.vo.GrpVO">
	select g.*, member.m_name, content.c_name, content.c_level
	from grp g, subscribe, member, content
	where g.sub_no = subscribe.sub_no
	and subscribe.sub_c_no = content.c_no
	and g.t_m_id = member.m_id
	and g_no = #{g_no}
	</select>
	
	<!-- 해당 그룹의 학습자 정보 가져오기 / g_no -->
	<select id="getGroupLearner" resultType="com.alpha.vo.LearnerVO">
	SELECT l.*, member.m_name 
	FROM learner l, grp, member
	where grp.g_no = l.l_g_no
	and l.l_m_id = member.m_id
	and grp.g_no = #{g_no}
	</select>
	
		<!-- c_id로 콘텐츠 상세 내용 갯수-->
	<select id="getContentCnt" resultType="int">
	select count(*) from content c
	left join 
	(select
	   c_no, SUBSTRING_INDEX (SUBSTRING_INDEX(content.c_able,',',numbers.n),',',-1) c_able
		from 
	   (select  1 n union  all  select 2  
	    union  all  select  3  union  all select 4 
	    union  all  select  5  union  all  select  6
	    union  all  select  7  union  all  select  8 
	    union  all  select  9 union  all  select  10) numbers INNER  JOIN content
	    on CHAR_LENGTH ( content.c_able ) 
      - CHAR_LENGTH ( 
      REPLACE ( content.c_able ,  ',' ,  '' ))>= numbers . n-1) s
      on c.c_no=s.c_no where s.c_no=#{c_no}
	</select>
	

</mapper>