<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.mapper.TeacherMapper">

	<select id="getContentList" resultType="com.alpha.vo.ContentVO">

		select *
		from ( select rownum rn, t.*
        from ( select *
            from content
            order by c_id desc) t)
            where rn between #{startNo} and #{endNo}
	</select>
	
	<select id="totalCnt" resultType="int">
	select count(*) from content
	</select>	
	
	<select id="getContentDetail" resultType="com.alpha.vo.ContentVO">
	select * from content where c_id = #{c_id}
	</select>
	
	<insert id="insertPayAction">
   	insert into subscribe (SUB_ID, SUB_C_ID, T_M_ID, SUB_NAME, SUB_DATE, SUB_PRICE,
                  SUB_ABLE, SUB_CURRENT)
             values (#{sub_id}, #{sub_c_id}, #{t_m_id}, #{sub_name}, #{sub_date}, #{sub_price}
             , #{sub_able}, #{sub_current})
   </insert>
	
	<select id="mySubList" resultType="com.alpha.vo.SubscribeVO">
	select * from subscribe
	</select>
	
	<delete id="cancelPay">
		delete subscribe where sub_id=#{sub_id}
	</delete>

</mapper>