.apply-button {
            padding: 10px 20px;
            
            color: #9b9b9b;
            border: none;
            cursor: pointer;
            
            border-radius: 40px;
}
/* 버튼에 호버 효과 추가 */
.apply-button:hover {
	color: black;
	font-style: bold;
}
/* 버튼 호버 효과 제거(신청완료) */
#applyDuple{
    color: #cccccc;
    font-style: normal;
    cursor: not-allowed;
}
#grpSelectBox {
	padding: 5px;
    text-align: center; 
	
}
/* 버튼 비활성화 스타일
.apply-button[disabled] {
    cursor: not-allowed;
} */ 

.main-box {
    width: 1280px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #d8dfe6;
    margin: 0 auto;
    justify-content: center;
}

#assign_modal {
    display: none;
    width: 750px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

#assign_modal .modal_close_btn {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

