/* 버튼 스타일 */
.apply-button {
            padding: 10px 20px;
            background-color: #fff;
            color: black;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 10px;
}

/* 버튼에 호버 효과 추가 */
.apply-button:hover {
    background-color: silver ;
}

/* 버튼 비활성화 스타일
.apply-button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
} */