.apply-button {
            padding: 10px 20px;
            
            color: #cccccc;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 40px;
}
/* 버튼에 호버 효과 추가 */
.apply-button:hover {
	color: black;
	font-style: bold;
}
/* 버튼 비활성화 스타일
.apply-button[disabled] {
    cursor: not-allowed;
} */ 